# Backslash

In [14]:
print('hello python')

hello python

In [15]:
print('hello\tpython')

hello	python

In [16]:
print('hello \npython')

hello
python

# doc string -used for symbols

In [17]:
print("""/ ,.#@$%^&*\
!@#$%^@#$%@#$%@#$%^*!@""")

/ ,.#@$%^&*!@#$%^@#$%@#$%@#$%^*!@

In [18]:
print('python'sworld')

SyntaxError: invalid syntax (<ipython-input-18-d3ebe1f84a68>, line 1)

In [19]:
print("python's world")#can use double string in case of using a single quotes

python's world

In [21]:

name = 'tom'
marks = 90.698
age = 21

In [22]:
print('the name of person',name,'\nmark is',marks,'\nage is',age)

the name of person tom
mark is 90.698
age is 21

In [23]:
print('the name is %s \n marks is %2f \nage is %d'%(name,marks,age))

the name is tom
 marks is 90.698000
age is 21

In [24]:

x=90
y=90

In [25]:
id(x)

1568661104

In [26]:
id(y)

1568661104

In [27]:

x = 90

In [28]:
del(y)

In [29]:
y

NameError: name 'y' is not defined

In [30]:
x= y= 20

In [31]:
x

20

In [32]:
y

20

In [35]:
x
y

20

In [39]:
a = 248

In [40]:
b=2

In [41]:
a|b

250

In [42]:
a&b

0

In [43]:
not True

False

In [44]:
str1 ='python programming language'

In [45]:
'l' in str1

True

In [46]:
'z' in str1

False

In [47]:

a =10
b=10
a==b

True

In [48]:

x = 2.9
y=2.9

In [49]:
x==y

True

In [50]:
x is y

False

In [51]:

a= 258
b=258
a==b

True

In [52]:
a is not b

True

In [53]:
10+23/63*9

13.285714285714285

In [54]:
8**3

512

In [55]:
2**-1

0.5

In [56]:
25/4

6.25

In [57]:
25//4

6

In [58]:
25//5//3

1

In [59]:

10>8

True

In [60]:
10>11 and 10>8

False

In [61]:
10<11|10>8

True

In [62]:
10>9 & 10<M

NameError: name 'M' is not defined

In [63]:
10<12&10<8

False

# day3 notes

In [2]:
a= 20
b=23.5
type(a)

int

In [5]:
type(b)

float

In [6]:
a = 34.5
b = int(a)

In [8]:
type(b)

int

In [11]:
h=5
j=float(h)
type(j)

float

In [ ]:
val = input('enter the number')
print(val)
print(type(val))

In [ ]:
val = eval(input('enter the number'))
r = val+1
print(r)
print(val)
print(type(val))

eval evaluates and accepts the expression always in the string form

In [ ]:
type(val)

# if statement

In [8]:
pass1 = input('enetr the password')
if pass1 =='open':
    print('welcome')
print('done')

enetr the passwordopen
welcome
done

identation is the space used by print statement after if condition /block

In [9]:
pass1 = input('enetr the password')
if pass1 =='open':
    print('welcome')
    print('done')    

else :
        print('check the password')
        print('try again')

enetr the passwordking
check the password
try again

# ifelif statment

In [4]:
n = eval(input('enter the marks'))
print (n)
grade = ''
if n>=90:
    grade ='A'
elif n>=80:
    grade = 'B'
elif n>=70:
    grade = 'C'
elif n>=60:
    grade = 'D'
elif n>=50:
    grade ='E'
else :
    grade ='F'
    print('need to improve')
    
print( f"the marks is {n}\n the grade is {grade}")

enter the marks98
98
the marks is 98
 the grade is A

In [6]:
range(5)

range(0, 5)

In [8]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [13]:
print(range(0,9,1))

range(0, 9)

In [15]:
list(range(0,12,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [25]:
list(range(5,-12,-2))

[5, 3, 1, -1, -3, -5, -7, -9, -11]

In [26]:
list(range(5,-22,-2))

[5, 3, 1, -1, -3, -5, -7, -9, -11, -13, -15, -17, -19, -21]

In [31]:
for each in range(8):
    print(each)

0
1
2
3
4
5
6
7

In [39]:
for each in range(5):
    print(each,end=",")

0,1,2,3,4,

In [41]:
str1= 'pythonprogramming'
for each in str1:
    print(each,end=',')

p,y,t,h,o,n,p,r,o,g,r,a,m,m,i,n,g,

In [45]:
list1=[1234569778]
for each in list1:
    print(each)

1234569778

In [47]:
sum1 = 0
for a in range(1,11):
    sum1 = sum1+a
    print(a,'--->',a)
print('the sum of number is ',sum1)

1 ---> 1
2 ---> 2
3 ---> 3
4 ---> 4
5 ---> 5
6 ---> 6
7 ---> 7
8 ---> 8
9 ---> 9
10 ---> 10
the sum of number is  55

In [ ]:
p =input('enter the password')
while p=='open':
    print('welcome \n done')
    break
print('wrong password')    
p = input('enter the password again')

In [ ]:
p =input('enter the password')
while p!='open':
    print('wrong password')
    p = input('enter the password again')
print('welcome')

# day 4

string
  string in python is a sequence which consist of zera or more characters
  .the string is an immutable data structure which means thye cannot be changed

In [1]:
a = 'hello'
print(a)

hello

In [3]:
b='        '
print(b)

In [4]:
a = 'jai hind'
print(a) # sting is unchangable immutable

jai hind

In [5]:
id(a)

59176424

In [6]:
a='t'
print(a)

t

# subscript operator
it is defined as square brackets[],used to access the element of string list tuple and also on. syntax []

In [7]:
a = 'the mahabharath'
a[0]

't'

In [8]:
a[11]

'r'

In [9]:
len(a)#a function built in python to get lrnght of the string

15

In [10]:
a[14]

'h'

In [11]:
a

'the mahabharath'

In [12]:
a[3:8]

' maha'

#slicing or negative indexing i.e numbering from left to right

In [14]:
a[-2]

't'

In [17]:
a[3:12:2]#start,stop,step#by default step size is zero

' aahr'

In [18]:
a[::]

'the mahabharath'

In [19]:
a[::3]

't hha'

python string methods
,count
,find
,fuction is associated with class then it is a methodand we can create our own method,function are general function can br applied on int,tuple

In [23]:
dir('intel')#these are the magic methods offered for on;y string

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [25]:
s ='hello'
s

'hello'

In [29]:

s.upper()#s is oject\.upper() is a method \n
len() is a function

'HELLO'

In [31]:
len(s)# in here 's' is argument

5

# python string methods

In [33]:
s = 'hello programmer'
s.count('m',0,15)#count is the method

2

In [34]:
help(s.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [35]:
s

'hello programmer'

In [36]:
s.find('o')#indexing always starts from this side idex method shows error if substring is not found nut find method doesnt show any error

4

In [37]:
s[4]

'o'

In [38]:
s.rfind('o')

8

# string case method

In [40]:
sp='fghkjpuygcxtyiuy'
sp.upper()

'FGHKJPUYGCXTYIUY'

In [41]:
so='43567899pijhgdtryghf'
so.upper()

'43567899PIJHGDTRYGHF'

In [42]:
help(so.index)

Help on built-in function index:

index(...) method of builtins.str instance
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [43]:
so.index('f')

19

In [ ]:
val=input('enetr the substring')
if val in so:
    print(so.index(val))

#if the substring is not present in the string it may show error so we use this case

In [1]:
s = 'hello programmer'

In [2]:
s

'hello programmer'

In [3]:
s.title()

'Hello Programmer'

In [4]:
s.swapcase()

'HELLO PROGRAMMER'

In [6]:
v='1@#$%^& kinng #$%67'

In [14]:
v

'@#$%^&kinng#$%67'

In [15]:
v.strip()#we use strip method to removed unwanted string method

'@#$%^&kinng#$%67'

In [17]:
v.strip('1')

'@#$%^&kinng#$%67'

split

In [18]:
date = '23-07-2020'
date[6:]

'2020'

In [22]:
date.split('-')

['23', '07', '2020']

In [24]:
help(date.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [28]:
date.split('-')[2]

'2020'

In [30]:
date.split('-')[-1]

'2020'

In [32]:
ip= '198.156.10.1'

In [35]:
ip.split('.')

['198', '156', '10', '1']

justify methods

In [37]:
str1= 'intel'
len(str1)

5

In [39]:
str1.ljust(10,'$')

'intel$$$$$'

In [40]:
str1.ljust(10)

'intel     '

In [46]:
str2 = 'hello programmer'
str2.rjust(20,'*')

'****hello programmer'

In [47]:
str2 = 'hello programmer'
str2.ljust(20,'*')

'hello programmer****'

In [51]:
list1 = ["winterfell","king's landing","the wall"]
print('place','distance','area')
distance= 12365
area= 786418641
for i in list1:
    print(i.ljust(18),distance,area)

place distance area
winterfell         12365 786418641
king's landing     12365 786418641
the wall           12365 786418641

In [11]:
acc='4545'
acc.zfill(10)

'0000004545'

In [10]:
acc.rjust(10,'0')

'0000004545'

In [2]:
bin(16)[2:].zfill(16)

'0000000000010000'

In [5]:
bin(8)

'0b1000'

In [4]:
str4= '%%%intel%%'
str4.replace('%','')

'intel'

In [22]:
date ='23-07-2020'
list1=date.split('-')

In [23]:
'/'.join(list1)

'23/07/2020'

In [27]:
list1= ['a.txt','a.pdf','b.xl','c.exe','a.xl']
for i in list1:
    if i.startswith('a'):
        print(i)

a.txt
a.pdf
a.xl

In [28]:
'hello'.startswith('h')

True

In [29]:
'12355trf'.isdigit()

False

In [30]:
a=input('enetr the value')
if a.isdigit():
    a=eval(a)
print(a,type(a))#isalpha\isanum\islower\isupper\isdidgit

enetr the value216
216 <class 'int'>

In [31]:
str1='hello python'
max(str1)

'y'

In [32]:
ord('y')

121

here as according to ascii values 'y' has the maximum value so the ord has shown the y as max value

In [33]:
for i in str1:
    print(i,'-->',ord(i))

h --> 104
e --> 101
l --> 108
l --> 108
o --> 111
  --> 32
p --> 112
y --> 121
t --> 116
h --> 104
o --> 111
n --> 110

# day 5

# Tuple and list
tuple is  asequence ehich can store heterogeneou data types such as integers floats strings list like strings tuple is also immutable tuple is data structure that can contain data.string is a seq of alphabets but tuple can contain alphabets and integers and also you can do slicing in tuple

In [2]:
tup =(1,)#here the comma indicates the tuple
print(tup,type(tup))

(1,) <class 'tuple'>

In [3]:
tup2=1,2,3,4,'d'#if u dont indicate any bractects the intrepreter takes it as tuple
print(tup2)

(1, 2, 3, 4, 'd')

In [4]:
a =('thor','iroman','hulk')
a[1]

'iroman'

In [5]:
a[0:2]

('thor', 'iroman')

In [6]:
a[::-1]#to reverse a tuple we cant change a original tuple

('hulk', 'iroman', 'thor')

In [7]:
a[2:3]

('hulk',)

In [8]:
len(a)#length for a tuple

3

In [9]:
tup1=(10,20)#unpacking of tuple
print(tup1)

(10, 20)

In [10]:
a,b=tup1#unpacking of tuple
print(a)
print(b)

10
20

In [12]:
a,b,c=(10,20)#error in upacking tuple

ValueError: not enough values to unpack (expected 3, got 2)

In [13]:
a,b,c=(10,20)#error in upacking tuple

ValueError: not enough values to unpack (expected 3, got 2)

In [14]:
a,b,*c=(10,20,30,40)#to avoid error in upacking tuple we use * to combine the undefined values

In [16]:
print(a,b,c)

10 20 [30, 40]

In [18]:
a =('thor','iroman','hulk')

In [19]:
id(a)

58481440

In [24]:
a1=a[::-1]

In [25]:
a1

('hulk', 'iroman', 'thor')

In [26]:
id(a1)

58479520

In [27]:
a1=a[:]#to create a tuple in the same memory 
print(a1)
id(a1)

('thor', 'iroman', 'hulk')

58481440

In [29]:
dir(a1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [31]:
t1=(1,2,3,8,845,6,7,8,9)
print(t1)

(1, 2, 3, 8, 845, 6, 7, 8, 9)

In [32]:
t1.count(8)#countin tuple

2

In [33]:
t1.index(845)#indx of first occurence in the tuple

4

In [34]:
t1.index(8)

3

In [35]:
t2=(10,20,30)

In [37]:
t1+t2#adding two tuples

(1, 2, 3, 8, 845, 6, 7, 8, 9, 10, 20, 30)

In [42]:
t3=t2*3 #we can multiple the tuplei.e of no of representation

In [44]:
print(t3[4])
id(t3[4])

20

1438308880

In [45]:
max(t1)

845

pyhton 2 always gives preference to string '35'>45 then nit gives true

In [46]:
a= input('enetr the value')
t1=tuple(a.split()    )
print(t1)

enetr the valueintel dell ibm cisco
('intel', 'dell', 'ibm', 'cisco')

# list
like ruple list is also a built in data structure \it can contain string float integer and lists but list can be changed with its supported methods where as tuple dont have the methods to change

In [47]:
list1=[]

In [49]:
type(list1)

list

In [50]:
list2=[1,2,3,4,5,'a','b',(1,2)]

In [52]:
print(list2)#list contains sthe heterogeneous values

[1, 2, 3, 4, 5, 'a', 'b', (1, 2)]

In [53]:
list2[2]

3

In [57]:
list2[-2]

'b'

In [59]:
list3=[1,2,('hello','ironman','m')]

In [60]:
print(list3)

[1, 2, ('hello', 'ironman', 'm')]

In [61]:
list3[2]

('hello', 'ironman', 'm')

In [62]:
list3[2][1]

'ironman'

In [63]:
type(list3[2])

tuple

In [66]:
del list3[0] #deleting a variable from list

In [65]:
list3

[2, ('hello', 'ironman', 'm')]

In [67]:
list4=(10,20,3,40)#adding 2 lists
list5=(80,90)
list4+list5

(10, 20, 3, 40, 80, 90)

In [70]:
list5*2 #2 times reprentation of list

(80, 90, 80, 90)

# list methods

In [71]:
A =['king','queen','prince']

In [72]:
A.append('princess')#using append we can add the extra string sto the lists

In [74]:
A

['king', 'queen', 'prince', 'princess']

In [78]:
A.append(('minister','subordinates'))

In [79]:
A

['king',
 'queen',
 'prince',
 'princess',
 'minister',
 ('minister', 'subordinates')]

In [84]:

A.extend(('people'))

In [85]:
A

['king',
 'queen',
 'prince',
 'princess',
 'minister',
 ('minister', 'subordinates'),
 'p',
 'e',
 'o',
 'p',
 'l',
 'e',
 'p',
 'e',
 'o',
 'p',
 'l',
 'e']

In [86]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [87]:
A

['king',
 'queen',
 'prince',
 'princess',
 'minister',
 ('minister', 'subordinates'),
 'p',
 'e',
 'o',
 'p',
 'l',
 'e',
 'p',
 'e',
 'o',
 'p',
 'l',
 'e']

In [88]:
A.insert(1,'head')

In [91]:
A

['king',
 'head',
 'queen',
 'prince',
 'princess',
 'minister',
 ('minister', 'subordinates'),
 'p',
 'e',
 'o',
 'p',
 'l',
 'e',
 'p',
 'e',
 'o',
 'p',
 'l',
 'e']

In [95]:
list1=[10,20,3,40]

In [97]:
list1.remove(10)

In [98]:
list1

[20, 3, 40]

In [102]:
a

'intel dell ibm cisco'

In [103]:
A

['king',
 'queen',
 'prince',
 'princess',
 'minister',
 ('minister', 'subordinates'),
 'p',
 'e',
 'o',
 'p',
 'l',
 'e',
 'p',
 'e',
 'o',
 'p',
 'l',
 'e']

In [106]:
dark=['jonas','martha','regina','ulric']

In [110]:
del dark[1]

In [116]:
dark

['jonas', 'martha', 'regina', 'ulric']

In [114]:
dark=['jonas','martha','regina','ulric']

In [117]:
dark.pop(1)

'martha'

Del vs pop

del just delete the value whwreas pop return the deleted value\element

In [118]:
list1=[10,20,30,40]

In [119]:
list1.reverse()#reverse method is used to reverse the list without changing the element

In [120]:
list1

[40, 30, 20, 10]

# sort
stable sort:-
time complexity of sort=n^2

In [121]:
marks=[('k',10),('g',50),('l',90),('p',80)]

In [123]:
print(marks)

[('k', 10), ('g', 50), ('l', 90), ('p', 80)]

In [126]:
def fun1(x):
    print(x)
    return[x]
marks.sort(key=fun1)

('k', 10)
('g', 50)
('l', 90)
('p', 80)

In [127]:
print(marks)

[('g', 50), ('k', 10), ('l', 90), ('p', 80)]

In [130]:
def fun1(x):
    print(x)
    return x[1]
marks.sort(key=fun1)

('g', 50)
('k', 10)
('l', 90)
('p', 80)


# Day 6

# Dictionary 
in list the values are inexed by the range of numbers but in adict the values are indexed by keys

 it is aequence of key-valuesot items sepaaretd by commas

syntax 
# dictionary_name=(key:value)

In [1]:
port1 = {}#always check the type.
print(port1,type(port1))

{} <class 'dict'>

In [2]:
port1={20:'FTP',21:'FTP',22:'SSH',23:'telnet'}#key and its value is called item,tuple(not as list),string,integer ,float can be usd as key 
print(port1)

{20: 'FTP', 21: 'FTP', 22: 'SSH', 23: 'telnet'}

keys an its feature:
these cannot ber changedi.e is immutable

a key and values is called as item

a string,float,int can be use as key
#keys are unique

In [1]:
d1= {'i':'ibm','A':'acer','i':'infoys'}

In [3]:
d2={(1,3):'key'}#we can use tuple as key but list cannot be used as key

In [5]:
d1#here the key remins the same but values get updated

{'i': 'infoys', 'A': 'acer'}

In [7]:
port1={20:'fttp',23:'telnet',22:'ssh',80:'http',52:'dns'}

In [8]:
port1[52]#accesing an iteam from dict

'dns'

In [9]:
del port1[22]#deleting an iteam from dict

In [10]:
port1

{20: 'fttp', 23: 'telnet', 80: 'http', 52: 'dns'}

In [12]:
port1[22]='secureshell'#add an value which is not present

In [13]:
port1

{20: 'fttp', 23: 'telnet', 80: 'http', 52: 'dns', 22: 'secureshell'}

In [16]:
port1[80]='webprotocol'#updating and item which is already present

In [17]:
port1

{20: 'fttp', 23: 'telnet', 80: 'webprotocol', 52: 'dns', 22: 'secureshell'}

In [18]:
port2=port1

In [19]:
port2

{20: 'fttp', 23: 'telnet', 80: 'webprotocol', 52: 'dns', 22: 'secureshell'}

In [20]:
port3=port1.copy()#coyping the dict

In [21]:
port3

{20: 'fttp', 23: 'telnet', 80: 'webprotocol', 52: 'dns', 22: 'secureshell'}

In [27]:
port1[67]='tftp'

In [28]:
port1

{20: 'fttp',
 23: 'telnet',
 80: 'webprotocol',
 52: 'dns',
 22: 'secureshell',
 67: 'tftp'}

In [29]:
port2

{20: 'fttp',
 23: 'telnet',
 80: 'webprotocol',
 52: 'dns',
 22: 'secureshell',
 67: 'tftp'}

In [31]:
port3#inport3 the 67 is not added that is coyping used

{20: 'fttp', 23: 'telnet', 80: 'webprotocol', 52: 'dns', 22: 'secureshell'}

In [32]:
21 in port1

False

In [33]:
22 in port1

True

In [39]:
k= eval(input('enetrr the key'))
if k in port1:
    print(port1[k])
else:
        print('key not found')

enetrr the key25
key not found

In [43]:
k =eval(input('enetr the key'))#same as above can be done in aline using get method
print(port1.get(k,'not in data base'))

enetr the key22
secureshell

In [44]:
help(port1.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [45]:
port1.pop(67)#in pop u get to know what is deleted

'tftp'

In [46]:
port1

{20: 'fttp', 23: 'telnet', 80: 'webprotocol', 52: 'dns', 22: 'secureshell'}

In [50]:
port2={443:'hhtps'}#updating a port with aonther port
port1.update(port2)

In [51]:
port1

{20: 'fttp',
 23: 'telnet',
 80: 'webprotocol',
 52: 'dns',
 22: 'secureshell',
 443: 'hhtps'}

In [52]:
port1.keys()#to know the keys in the dict

dict_keys([20, 23, 80, 52, 22, 443])

In [55]:
import sys
sys.getsizeof(port1.keys())

28

In [58]:
for each in port1.keys():
    print(each)

20
23
80
52
22
443

In [60]:
print(port1.values())

dict_values(['fttp', 'telnet', 'webprotocol', 'dns', 'secureshell', 'hhtps'])

In [62]:

for i in port1.items():
    print(i)

(20, 'fttp')
(23, 'telnet')
(80, 'webprotocol')
(52, 'dns')
(22, 'secureshell')
(443, 'hhtps')

In [67]:
print(sys.getsizeof(port1.items()))

28

In [69]:
for k,v in port1.items():
    print(k,v)

20 fttp
23 telnet
80 webprotocol
52 dns
22 secureshell
443 hhtps

In [70]:
for  k,v in port1.items():#because we cannot change the disct
    if k==80:
        del port1[k]
        print(k,v)

80 webprotocol

RuntimeError: dictionary changed size during iteration

In [74]:
for  k,v in list( port1.items()):#bu in case of list it is possible
    if k==80:
        del port1[k]
    print(k,v)

20 fttp
23 telnet
52 dns
22 secureshell
443 hhtps

In [85]:

list1=[1,2,3,4,5,6,]#making a dict using two list
list2=['a','b','c','d','e','f']
len1=min(len(list1),len(list2))
dict1={}
for each in range(len1):
    dict1[ list1[each]  ]= list2[each]
print(dict1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

#making a dict using two list

In [86]:
print(list(zip(list1,list2)))#in one line for combinig two lists

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [81]:
list1=[1,2,3,4]
list2=[]
print([each**2 for each in list1])

[1, 4, 9, 16]

In [82]:
print([each**2 for each in list1 if each%2==0])

[4, 16]

In [83]:
list1=['220-2-11','22020-22-3','2020-22-23']
list2=[]
print([each.split('-')[1]   for each in list1])

['2', '22', '22']

In [89]:
val =int(input('enetr the number'))
d1= 100
c=d1/val
print(c)

enetr the numberl

ValueError: invalid literal for int() with base 10: 'l'

# to handle error s we use error handling

In [91]:
try:
    val =int(input('enetr the number'))
    d1= 100
    c=d1/val
    print(c)
except:
    print('error')

enetr the numberok
error

In [1]:
try:
    val =int(input('enetr the number'))
    d1= 100
    c=d1/val
    print(c)
except exception as e:
    print(e)
finally:
    print('no erro roccured')

enetr the number22
4.545454545454546
no erro roccured

# Day 7

function : to organise yhe code and to avoid the redundancy

# syntax for function

# def function_name(parameter):
            <stament>
            return value

In [3]:
function_name(args1)

NameError: name 'function_name' is not defined

In [8]:
def func1():
    print('hello')

func1()

hello

In [10]:
def func1(a,b):#a and bare the parameters
    c=a+b
    print(c)
func1(10,20)#10&20 are the argumennts

30


function with return value

In [14]:
def func1(name,age=30,marks=60):#default parameters
    print(name,age,marks)
print('name marks age')
func1('manish')
func1('Bhaskar',30,80)
func1('ama',marks=92)#default arguument

name marks age
manish 30 60
Bhaskar 30 80
ama 30 92

In [18]:
def func1(a,b=0):
    print (a,b)
func1(12)
func1(10,2)

12 0
10 2

In [19]:
def func1(a,b=0):
    print (a,b)
func1(12)
func1(10,2)
func1(1,2,3,4,5,6)

12 0
10 2

TypeError: func1() takes from 1 to 2 positional arguments but 6 were given

In [20]:
def func1(a,*b):#return type of variable length argument
    print (a,b)
func1(12)
func1(10,2)
func1(1,2,3,4,5,6)

12 ()
10 (2,)
1 (2, 3, 4, 5, 6)

In [22]:
def func1(a,*args):
    print (a,*args)
func1(12)
func1(10,2)
func1(1,2,3,4,5,6)

12
10 2
1 2 3 4 5 6

In [24]:
def f1(**kwargs):#if we want to take ts as a dict we use double*
       print(kwargs,type(kwargs))
       
f1(name='xyz',marks=7)

{'name': 'xyz', 'marks': 7} <class 'dict'>

# pass by reference and pass by value

reference is sending the actual value

value is sending the copied values but in python we only use pass by reference

In [30]:
def func1(list1):
    print('inside before appending',list1,id(list1))
    list1.append(30)
    print('after appending',list1, id(list1))
    
    
list2=[4,5,6]
func1(list2)
print('after calling',list2,id(list2))#pass by reference list 1& list2 is pointing to the same address

inside before appending [4, 5, 6] 8134568
after appending [4, 5, 6, 30] 8134568
after calling [4, 5, 6, 30] 8134568

In [32]:
def f1(a):#as this a is a local variabl;e
    print('inside before ',a,id(a))
    a=a+10
    print('inside after',a,id(a))
    
a=30#here the a is global variable;but local and global are same at the starting but when a=a+10 is give the a is new local varibale 
f1(a)  
print('after',a,id(a))#here the a is not poiting to the same address

inside before  30 1592318640
inside after 40 1592318800
after 30 1592318640

# Day 8

lambda

In [1]:
l= lambda x,y:x+y
print(l(5,6))

11

In [2]:
n=lambda x,y:x**y
print(n(5,3))

125

In [3]:

help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

a filter should be given a function and iterable like list or tuble|

In [6]:
list1=[1,2,3,4,56]#in filter its gets the real value but filtered as the even numbers
list2=[]
def func1(x):
   if x%2==0:
    return True 
   else :
    return False
list2= filter(func1,list1)
print(tuple(list2))

(2, 4, 56)

In [11]:
list1=[0,4,10,22,24,45,100]# mapping
     return t1*9/5+32
list2=map(temp,list1)
print(list(list2))

[32.0, 39.2, 50.0, 71.6, 75.2, 113.0, 212.0]

same using lambda

In [13]:
list1=[0,4,10,22,24,45,100]# mapping
     #return t1*9/5+32
list2=map(lambda t1:t1*9/5+32,list1)
print(list(list2))

[32.0, 39.2, 50.0, 71.6, 75.2, 113.0, 212.0]

In [15]:
from functools import reduce

In [23]:
list1=[100,20,36,25]
def func1(x,y):
   return x+y

reduce(func1,list1)

181


sort method only workd on list but sorted function works on both list and tuple

In [1]:
list1=[10,20,4,2,1,90]
list2=sorted(list1)
print(list2)

[1, 2, 4, 10, 20, 90]

isinstance////to difrrentioate a int and string in a list

In [11]:
list1=[1,6,'9',3,5,6,'1','4']
bw =10
 
for each in list1:
        try:
            if isinstance(each,str):
                each=eval(each)
            kpi = each/bw*100
            print(kpi)
        except     exception    as e:
                    print(e)

10.0
60.0
90.0
30.0
50.0
60.0
10.0
40.0

# sum

In [13]:
list1=[1,2,3,4,56,7,89]
sum(list1)

162