# Day 2 assigment

# Backslash

In [1]:
print('hello python')

hello python

In [2]:
print('hello\tpython')

hello	python

In [3]:
print('hello \npython')

hello
python

In [6]:
print('python \a')

python 

# doc string -used for symbols

In [9]:
print("""/ ,.#@$%^&*\
!@#$%^@#$%@#$%@#$%^*!@""")

/ ,.#@$%^&*!@#$%^@#$%@#$%@#$%^*!@

In [7]:
print('python'sworld')

SyntaxError: invalid syntax (<ipython-input-7-d3ebe1f84a68>, line 1)

In [8]:
print("python's world")

python's world

In [10]:
name = 'tom'
marks = 90.698
age = 21

In [12]:
print('the name of person',name,'\nmark is',marks,'\nage is',age)

the name of person tom
mark is 90.698
age is 21

In [29]:
print('the name is %s \n marks is %2f \nage is %d'%(name,marks,age))

the name is tom
 marks is 90.698000
age is 21

In [58]:
x=90
y=90

In [34]:
id(x)

1566236272

In [36]:
id(y)

1566236272

In [48]:
x = 90

In [50]:
id(x)

1566236272

In [59]:
del(y)

In [61]:
y

NameError: name 'y' is not defined

In [62]:
x= y= 20

In [64]:
x

20

In [66]:
y
x

20

In [67]:
a = 248

In [68]:
b=2

In [70]:
a|b

250

In [72]:
a&b

0

In [75]:
not True

False

In [81]:
str1 ='python programming language'

In [86]:
'l' in str1

True

In [88]:
'z' in str1

False

In [91]:
a =10
b=10
a==b

True

In [92]:
x = 2.9
y=2.9

In [94]:
x==y

True

In [96]:
x is y

False

In [98]:
a= 258
b=258
a==b

True

In [100]:
a is not b

True

In [103]:
10+23/63*9

13.285714285714285

In [104]:
8**3

512

In [106]:
2**-1

0.5

In [113]:
25/4

6.25

In [114]:
25//4

6

In [112]:
25//5//3

1

In [116]:
10>8

True

In [118]:
10>11 and 10>8

False

In [120]:
10<11|10>8

True

In [122]:
10>9 & 10<M

NameError: name 'M' is not defined

In [124]:
10<12&10<8

False